.Title {
  font-family: var(--poppins);
  display: flex;
  justify-content: center;
  height: 97vh;
  align-items: center;
  background: linear-gradient(to right, #ebefff 50%, #ffffff 50%);
}
.Title__introduction {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  color: rgb(62, 100, 255);
}
.Title__mainTitle {
  font-size: 60px;
  font-weight: 800;
  line-height: 90px;
}
.Title__profession {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
}
.Title__dynamicProfession {
  color: rgb(62, 100, 255);
  text-decoration: underline;
}
.Title__titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Title #rhombus {
  width: 70px;
  height: 70px;
  background-color: #ebefff;
  transform: rotate(45deg);
  margin-top: 20px;
}
.Title #rhombus svg {
  margin-top: 10px;
  font-size: 20px;
  animation: imganim 1s infinite linear both;
}
@keyframes imganim {
  from {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  to {
    transform: translate(35px, 35px) rotate(-45deg);
  }
}
