body {
  --poppins: "Poppins", sans-serif;
}

.App {
  padding: 0px;
  margin: 0px;
  font-family: var(--poppins) !important;
}
#bio {
  height: 1000px;
  background-color: black;
}
#logos img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: #ffffff !important;
}
#logos .row {
  display: flex;
}
#logos .col {
  width: 220px !important;
}
#logos .col p {
  width: 100%;
  margin: 0px;
  display: block;
  text-align: center;
}
#projects > p {
  text-align: center;
  font-family: var(--poppins);
  font-size: 50px;
}
#projects .col {
  min-width: 30%;
  margin: 10px 10px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.38);
}
#projects img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#projects .col #details {
  width: 100%;
  height: 200px;
  background-image: white;
  padding: 0px 10px;
  transition: background-image 1s ease-in;
}
/* */
#projects .col #details::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    32deg,
    rgba(62, 100, 255, 1) 27%,
    rgba(113, 139, 246, 1) 95%
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
#projects .col #details:hover::after {
  opacity: 1;
}
#projects .col #details:hover {
  color: white;
}
#projects .col #details:hover a {
  color: white;
}
#projects .col #details > p:first-of-type {
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  opacity: 1;
}
#projects .col #details > p:nth-of-type(2) {
  height: 120px;
  margin-top: 10px;
}
#projects .col #details > div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 0px 10px;
  font-size: 14px;
}
#projects .col #details > div > a {
  color: black;
}
#projects .col #details > div > a:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  text-decoration: none;
}
#education > p {
  text-align: center;
  font-family: var(--poppins);
  font-size: 50px;
}
#education > div {
  width: 90%;
  margin-left: auto;
  display: flex;
}
#education > div svg {
  font-size: 50px;
  margin: 7px 15px;
  color: rgba(62, 100, 255);
}
#education > div #details p:first-of-type {
  margin-bottom: 0px;
  color: rgba(62, 100, 255);
  font-weight: bold;
  font-size: 18px;
}
#education > div #details p:nth-of-type(2) {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}
#education > div #details p:nth-of-type(3) {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}
#education > div #details p:nth-of-type(4) {
  color: #a1a1a1;
}
#logos > p {
  text-align: center;
  font-family: var(--poppins);
  font-size: 50px;
  margin-top: 30px;
}
#contact {
  height: 100px;
  width: 100%;
  background-color: black;
  padding-top: 30px;
}
#contact > div {
  display: flex;
  margin: 0px 33vw;
  justify-content: space-between;
}
#contact > div svg {
  font-size: 50px;
  color: white;
}
